@model Empleado
@{
    ViewData["Title"] = "Eliminación Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> Lista = ViewBag.ListaServicios;
}
<h2 class="text-info">Detalles del Empleado</h2>
<br />
<div class="container">
    <form asp-action="Delete" asp-controller="Empleado" method="post"
          id="viewEliminar" enctype="multipart/form-data">
        <div class="container-fluid">
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="EmpleadoId" class="col-form-label"></label>
                </div>
                <div class="col-md-5">
                    <input asp-for="EmpleadoId" readonly="readonly" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Nombre" class="col-form-label"></label>
                </div>
                <div class="col-md-5">
                    <input asp-for="Nombre" readonly="readonly" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Apellidos" class="col-form-label"></label>
                </div>
                <div class="col-md-5">
                    <input asp-for="Apellidos" readonly="readonly" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="Direccion" class="col-form-label"></label>
                </div>
                <div class="col-md-5">
                    <textarea asp-for="Direccion" rows="3" cols="50"
                              class="form-control" readonly="readonly"></textarea>
                </div>
                <div class="col-5 form-control" style="border:none; float:left;">
                    @{
                        var base64 = Convert.ToBase64String(Model.Foto);
                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                    }
                    <img id="image" src="@imgsrc" alt="image about photo"
                         style="width: 180px; height: 150px;" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="TelefonoFijo" class="col-form-label"></label>
                </div>
                <div class="col-md-5">
                    <input asp-for="TelefonoFijo" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="TelefonoCelular" class="col-form-label"></label>
                </div>
                <div class="col-md-5">
                    <input asp-for="TelefonoCelular" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="ServicioId" class="col-form-label"></label>
                </div>
                <div class="col-md-5">
                    <select asp-for="ServicioId" class="form-control"
                            asp-items="@Lista" disabled="disabled"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4 offset-2">
                    <input type="button" value="Eliminar" id="btnEliminar"
                           class="btn btn-success" style="width: 60%;"
                           onclick="abrirModal()" />
                </div>
                <div class="col-md-4">
                    <a asp-action="Index" class="btn btn-info"
                       style="width: 60%;">
                        Regresar a la lista
                    </a>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/js/sweetalert2.js"></script>
<script src="~/js/Utilitarios.js"></script>
@section Scripts{
    <script type="text/javascript">
        function abrirModal() {
            verModal('Eliminar Empleado', '¿Desea eliminar el Empleado?').then((result) => {
                if (result.value) {
                    var viewEliminar = document.getElementById("viewEliminar");
                    viewEliminar.submit();
                    Swal.fire(
                        'Eliminado!',
                        'El Empleado fue eliminado!.',
                        'success'
                    )
                }
                else if (result.dismiss === Swal.DismissReason.cancel) {
                    Swal.fire(
                        'Cancelado',
                        'El Empleado no fue eliminado!!!:)',
                        'error'
                    )
                }
            })
        }
    </script>
}


